@font-face {
    font-family: 'Bariol Regular';
    src: url("");
}

:root {
    --primary-color: #cc073c; /* Define el color primario */
    --primary-color0: #e32b5a; /* Define el color primario */
    --primary-color1: #7d0101;
    --primary-color2: #888;
    --primary-color3: #a7002d;
    --primary-color4: #df9a9a;
    --primary-color5: #fee;
    --primary-color6: #f0e7e7;
    --secondary-color: #FFF;
}

body, .ui-widget, .ui-widget .ui-widget{
    font-family: Arial,Helvetica,sans-serif;!important;
    font-size: 12pt !important;
}

.blanco {
    color: #FFF;
}
.titol{
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.titulo-pagina {
    padding: 0;
    margin: 0;
    background-color: var(--primary-color3);
    text-align: center;
    box-shadow: 0 2px 4px -1px rgb(79, 62, 62), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    margin-bottom: .2em;
}



.titulo-pagina > h2{
    font-size: 1.5rem;
    padding: 0.4rem;
    margin:0;
    color: var(--secondary-color);
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.noDisableColor>.ui-state-active {
    opacity: 1 !important;
}

.text-2xl>span{
    font-size: 1.5rem !important;
}


/* DIALOG, titulo cabecera y pie */
.ui-dialog-titlebar {
    background-color: var(--primary-color3) !important;
    color: #FFFFFF !important;
}
.footer {
    background-color: var(--primary-color6);
}

body .ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-icon {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-color: var(--primary-color);
}
body .ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-icon.ui-state-focus {
    box-shadow: 0 0 0 .2rem var(--primary-color4);
}
body .ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-icon.ui-state-hover {
    background: var(--primary-color1);
    color: var(--secondary-color);
    border-color: var(--primary-color1);
    box-shadow: 0 3px 4px -1px rgba(0, 0, 0, 0.2), 0 2px 4px -1px rgba(0, 0, 0, 0.06);

}

.custom-dialog{
    max-width: 90vw; /* Ancho máximo al 80% del viewport */
}

body .ui-card.limpiacardshadow  {
    box-shadow: none;
}

body .ui-card.limpiacardpadding > .ui-card-body, body .ui-card.limpiacardpadding .ui-card-content {
    padding: 0 !important;
}

body .ui-card.limpiacardmargin > .ui-card-body {
    margin: 0 !important;
}

/**ZONA ARRASTRAR FRONTAL**/

.zona-arrastrar {
    border: .2em dashed var(--primary-color4);
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
    .ui-panel-content.ui-widget-content{
        border:none;
    }
    .contenedor{
        height: 8rem;
        background-image: url("/translatoribback/resources/images/arrastrarysoltar.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
}
.zona-arrastrar.ui-state-drag {
    border: .5em dashed var(--primary-color);
    border-radius: 5px;
    .ui-panel-content.ui-widget-content{
        background-color: var(--primary-color5);
    }
}
.zona-arrastrar-contenedor {
    border: 1px solid #769bad30;
    padding: 1em 1em 1em 2em;
    margin: .1em 1em .1em .1em !important;
}


