<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

   <!-- <context:property-placeholder
            location="file:#{systemProperties['es.caib.translatorib.properties.path']}" />-->

    <bean id="negocioModuleConfig" class="es.caib.translatorib.backend.model.comun.ModuleConfig">
        <property name="entorno" value="${entorno}" />
        <property name="version" value="${project.version}" />
        <property name="commitSvn" value="${commitSvn}" />
        <property name="commitGit" value="${commitGit}" />
    </bean>
</beans>